<h1>Bienvenido al Chat comunitario</h1>
<h2>Hola, <span id="username"></span>!</h2>
<div>
    <input id="chatbox"> <!--chatBox será la caha para poder escribir nuesto mensaje-->
</div>
<div>
    <p id="messageLogs"></p> <!--message log servira para ur colocando los mensajes que vayan llegando-->
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>